body{
	background-color:$gray;
	@include breakpoint(1024px) {font-size: 14px };
	@include breakpoint(1280px) {font-size: 16px };
	@include breakpoint(1360px) {font-size: 17px };
	@include breakpoint(1366px) {font-size: 17px };
	@include breakpoint(1440px) {font-size: 18px };
	@include breakpoint(1600px) {font-size: 20px };
	@include breakpoint(1680px) {font-size: 21px };
	@include breakpoint(1920px) {font-size: 24px };
	@include breakpoint(2560px) {font-size: 33px };
}
.underconstruction{
	text-align: center;
	font-weight: bold;
}
.navbar{
	background-color:$blue;
    padding: 0px 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
	@include clearfix;
	&__left{
	    /*float: left;*/
	    background-color: $blue;
	    width: 45%;
	    padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include clearfix;
	}
	&__logo{
		font-size: 1.75em;
	    margin: 0;
	    align-self: center;
	    display: flex;
		a{
			display: inline-flex;
			img{
				width: 1.15em;
				align-self: center;
			}
		}
	}
	&__search{
	    /*float: right;*/
	    width: 92%;
	    /*margin-top: 9px;*/
	    margin-bottom: 0;
	    /*border-radius: 0.0625em;*/
		input{
			font-size:1em;
		    margin: 0;
		    height: 1.56em;
		    border-radius: 0.15em;
		    background-color:white;
		    /*background-color:red;*/
		}
		@mixin placeholder {
			::-webkit-input-placeholder {@content}
			:-moz-placeholder           {@content}
			::-moz-placeholder          {@content}
			:-ms-input-placeholder      {@content}  
		}
		@include placeholder {
			color: black;
		}

	}
	&__right{
		width:45%;
	    padding: .3em 0;
		@include clearfix;
	    display: flex;
	    align-items: center;
	    justify-content: space-around;
	    padding-left:10em;
	}
	&__image{
		a img{
			border-radius: 50%;
			width: 2em;
		}
	}
	&__list{
		@include clearfix;
		list-style:none;
		margin:0;
		display:flex;
		/*padding-top: 10px;*/
		/*float: left;*/
		li{
			/*float: left;*/
			color:white;
			padding-left:10px;
			font-size: 0.75em;
			font-weight:bold;
		}
		.navName{
			border-right:0.0625em solid $gray;
			padding-right:.83em;
		}
	}
	&__icons{
	    list-style: none;
		background-color:$blue;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		/*margin-top: 2px;*/
/*		float: left;*/
		/*padding-left: 10px;*/
		@include clearfix;
		/*margin-top: 7px;*/
		/*margin-left: 24px;*/
	}
	.icon{
/*		float: left;*/
		/*max-height: 33px;*/

		&__1{
			img{
			    width: 2.18em;
			}
		}
		&__2{
			img{
				width: 1.875em;
			    /*margin-top: -3px;*/
			    margin-right: .5em;
			}
		}
		&__3{
		    width: 3em;
		    /*HEIGHT: 23PX;*/
		    /*margin-top: -2px;*/
		    margin-right: 1.5625em;
		    border-right: 0.0625em SOLID rgba(24, 36, 61, 0.4);
		    PADDING-RIGHT: 1.375em;	
		}
		&__4{
		    width: 2.3125em;
		    /*margin-top: -2px;*/
		}
	}
	&__mobile{
		@include clearfix;
		list-style:none;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color:red;
		width:100%;
		height: 100%;
		margin:0;
		overflow: hidden;
		background-color:$blue;
		a{
			/*float: left;*/
			max-width: 16%;
			img{
			    padding: .3em;
			}
		}
	}
	#msg-mobile{
		/*margin-top: -3px;*/
	}
	#notifications-mobile{
		/*margin-top: -3px;*/
		padding: 0.125em;
	}
	#search-mobile{
		padding: 0.375em;
	}
	#menu-mobile{
		/*float: right;*/
		li{
			/*margin-top: -7px;*/
			padding: 0.375em;
		}
	}
	@include breakpoint (medium down){
		padding:0;
		height: 40px;
	}
}
/*End of Header Styling */
.row{
	max-width: 75em;
	@include breakpoint (medium down){
		max-width: 100vw;
		overflow: hidden;
	}
}
.coverCont{
    border: 0.0625em solid $gray;
    background-color: white;
    border-top: none;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align:center;
    &>img{
    	    height: 16em;
		@include breakpoint (medium down){
			height: 12em;
			padding-top: 9%;
		    border-bottom: 1px solid $gray;
		    margin-bottom: 0%;
		    padding-bottom: 19%;
		}
    }
}
.profile{
	position: relative;
	&__picture{
		padding-top: 15%;
		border: 0.125em solid white;
		background-repeat: no-repeat;
		position: absolute;
		left: 2%;
		top: -10em;
		width: 17%;
		padding-left: 0;
		background-size: cover;
	    box-shadow: 0px 0px 10px #888888;
		@include breakpoint (medium down){
			padding-top: 32%;
			position: relative;
			left: 0%;
			top: 0;
			width: 33.3%;
			margin:0 auto;
			margin-top: -20%;
		}
	}
	&__name{
		position: absolute;
		left: 20%;
		top: 80%;
		font-size: 1.5625em;
		margin-top: -1.84em;
		@include breakpoint (medium down){
			position: static;
			margin-top: 1%;
		}
	}
}
.T{
	a{
		letter-spacing: 0.1875em;
	}
}
.taskBar{
	list-style: none;
	@include clearfix;
	display: flex;
	a{
		border: 0.0625em solid #e9eaed;
	    padding: 0.9375em 1.875em;
		font-size: 1em;
		font-weight: bold;
		color: #365899!important;
		[aria-selected='true']{
			background-color:white!important;
			color:#0c3d5d !important;
		}
		&:focus{
			background-color:white!important;
			color:#0c3d5d !important;
		}
		&[aria-selected='true']{
			background-color:white!important;
			color:#0c3d5d !important;
		}
		@include breakpoint (medium down){
			padding: 1em;
			
	    }
	}
	@include breakpoint (medium down){
		flex-direction: row;
		/*max-width: 100vw;*/
	}
}
.taskBar.tabs{
	/*background-color:aqua;*/
	border:none;
	@include breakpoint (medium down){
	    width: 100vw;
	    display: inline-flex;
	}
}
.tabs-content{
	border:none;
	@include breakpoint(1024px) {font-size: 14px };
	@include breakpoint(1280px) {font-size: 16px };
	@include breakpoint(1360px) {font-size: 17px };
	@include breakpoint(1366px) {font-size: 17px };
	@include breakpoint(1440px) {font-size: 18px };
	@include breakpoint(1600px) {font-size: 20px };
	@include breakpoint(1680px) {font-size: 21px };
	@include breakpoint(1920px) {font-size: 24px };
	@include breakpoint(2560px) {font-size: 33px };
	@include breakpoint (medium down){
		h5,ul{
			padding-left: 9%;
			padding-right: 7%;
		}
	}
}
.tabs-panel{
	padding:0;
	min-height: 50vh;
}
/*// Arrow Up just make the parent position relative*/
 li.taskBar__tab{
	&:nth-child(1) {
		flex:2;
		@include breakpoint (medium down){
			flex:1;
		}
	};
	&:nth-child(2) {
		flex:1;
	};
	&:nth-child(3) {
		flex:1;
	};
	&:nth-child(4) {
		flex:4;
		@include breakpoint (medium down){
			flex:1;
		}
	};
	&:nth-child(5) {
		flex:1;
	};
	&:nth-child(6) {
		flex:3;
		@include breakpoint (medium down){
			flex:1;
		}
	};
 	&:after{
 		content: '';
 		position: absolute;
 		width: 0;
 		top: 50%;
 		left: 100%;
 		height: 0;
 		border-top: 20px solid transparent;
 		border-bottom: 20px solid transparent;
 		border-left: 20px solid #ebebeb;
 	}
 }
.tab_content{
	border: 10px solid $gray;
    background-color: white;
    text-align: left;
	border-left: none;
	.fa-globe{
		border: 0.3em solid $blue;
	    border-radius: 50%;
	    color: white;
	    background-color: $blue;
	    width: 1.5em;
	    height: 1.5em;
	    margin-right: 0.625em;
	}
    h5{
    	font-size: 1.25rem;
	    padding-top: 1em;
	}
}
/*.tabs-title{
	&:not(.is-active) {
		@include breakpoint (medium down){
			display: none;
		}
	}
}*/
#first_empty{
}
#last_empty{
}
#first_link{
	color:white!important;
	padding:0.9375em 6.5625em;
}
#last_link{
	color:white!important;
	/*padding:.9375em 6.98125em;*/
}
.intro{
	list-style: none;
	margin-left:0;
	font-size:.8em;
	.fa{
		color:$icon_gray;
		margin-right:.5em;
	}
	a{
		color:$blue;
	}
}
.content{
	&_right{
		border-right:none;
		border-bottom:none;
		border-left:0.625em solid $gray;

	}
	&_left{
		border-left:none;
		border-right:none;
		border-bottom:none;
	}
}
.position{
	padding-top:1.5625em;
	@include breakpoint (medium down){
		text-align: center;
	}
	&:last-child{
		padding-bottom:2.1875em;
	}
	&__logo{
		padding-top: 5%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border: 0.9375em solid white;
		@include breakpoint (medium down){
			padding-top: 14%;		
		}
	}
	&__title{
	    font-size: 1em;
	    font-weight: bold;
	    color: #0c3d5d;
	}
	&__company{
		font-size: 1em;
		display: inline-block;
	}
}
.almakinah{
	padding-top:18%;
	@include breakpoint (medium down){
		padding-top:50%;
	}
}
.riseUp{
	padding-top:18%;
	@include breakpoint (medium down){
		padding-top:50%;
	}
}
.education{
	overflow: hidden;


	.almakinah{
		padding-top:15%;
		@include breakpoint (medium down){
			padding-top:50%;
		}
	}
	.position{
		&__container{
			text-align: left;
			padding-right: 3.125em;
			@include breakpoint (medium down){
				text-align: center;
				padding-right: 0em;
				padding:2em;
			}
		}
		&__title{
			font-size: 1.125em;
		}
		&__company{
			font-size: 1rem;
		}
		&__period{
			font-size:0.875em;
		}
		&__location{
			font-size:0.875em;
		}
		&__description{
			font-size:0.875em;
		}
	}
}
.position__description{
	font-size:0.875em;
	color: black;
}
.social.fa{
	font-size:3.125em;
	margin:1em 0.36em 1em 0.36em;  
}
.letter.fa{
	margin:0;
}
#panel2{
	h2{
		font-weight: bold;
		letter-spacing: .185em;
		margin: 1em;
		color: #1779ba;
		color:$blue;
		font-family: sans-serif;
		font-size: 3.375em;
		@include breakpoint (medium down){
			font-size: 1.7em;
		}
	}

}
.pen{
/*	max-width:50%;
	margin: 0 25px 50px 25px;*/
	margin: 0;
    padding: 1.875em;
}
	#embed-nav {
		background-color:red;
	}

#panel4{
	a{
		border: 0.11em solid;
	    border-radius: 50%;
	    padding-bottom: 2.0625em;
	    padding-top: 3.3125em;
	    padding-left: 1em;
	    padding-right: 1em;
		@include breakpoint (medium down){
			border:none;
			border-radius: 0;
			padding: 0;
			position: static;
	    }
	}

	.out-fb{
		left:10%;
		padding-left: 1.25em;
	    padding-right: 1.25em;
	    transition: all .5s ease-in-out;
	    .fa{
	    	margin:-0.24em 0.56em 0.14em 0.56em;
	    }
	    &:hover{
    		border:0.02em solid $blue;
		    transform: translateY(-10%);
    		background-color:$blue;
    		.fa{
				color:white;
			}
	    }
	}
	.out-insta{
		left:21.5%;
		padding-left: 0.36em;
	    transition: all .5s ease-in-out;
	    padding-right: 0.36em;
	    .fa{
	    	margin:-0.24em 0.77em 0.24em 0.77em;

	    }
	    &:hover{
    		border:0.02em solid #8a3ab9;
		    transform: translateY(-10%);
    		background-color:#8a3ab9;
    		    border: 0.02em solid #8a3ab9;
    		.fa{
				color:white;
			}
	    }
	}
	.out-tw{
	    left:33.75%;
		padding-left: 0.36em;
	    padding-right: 0.36em;
	    transition: all .5s ease-in-out;
		.fa{
			margin:-0.24em .77em 0.24em .77em;
		}
	    &:hover{
    		background-color:#1da1f2;
    		border:0.02em solid #1da1f2;
		    transform: translateY(-10%);
    		.fa{
				color:white;
			}
	    }
	}
	.out-link{
		left:46%;
		padding-left: 0.36em;
	    transition: all .5s ease-in-out;
	    padding-right: 0.36em;
		.fa{
			margin:-0.34em .87em 0.44em .87em;
		}
	    &:hover{
    		border:0.02em solid #0084bf;
		    transform: translateY(-10%);
    		background-color:#0084bf;
    		.fa{
				color:white;
			}
	    }
	}
	.out-git{
		left:58.25%;
		padding-left: 0.3em;
	    padding-right: 0.3em;
	    transition: all .5s ease-in-out;
		.fa{
			margin:-0.24em 0.87em 0.34em 0.87em;
		}
	    &:hover{
    		border:0.02em solid black;
		    transform: translateY(-10%);
    		background-color:black;
    		.fa{
				color:white;
			}
	    }
	}
	.out-pen{
		left:70.5%;
		padding-left: 0.26em;
	    padding-right: 0.26em;
	    transition: all .5s ease-in-out;
		.fa{
			margin:-0.19em 0.87em 0.34em 0.87em;
		}
	    &:hover{
    		border:0.02em solid black;
		    transform: translateY(-10%);
    		background-color:black;
    		.fa{
				color:white;
			}
	    }
	}
	.out-med{
		left:82.55%;
		padding-left: 0.3em;
	    padding-right: 0.3em;
	    transition: all .5s ease-in-out;
		.fa{
			margin:-0.2em 0.87em 0.4em 0.87em;
		}
	    &:hover{
    		border:0.02em solid #3cb371;
		    transform: translateY(-10%);
    		background-color:#3cb371;
    		.fa{
				color:white;
			}
	    }
	}
	.fa-twitter{
		margin: 0.28em;
	}
	.fa-linkedin{
		margin:0.3em;
	}
	.logos__cont{
		position: relative;
		height: 18.5vh;
		margin-top: 5.89em;
		margin-bottom: 5.89em;
		display: flex;
	    justify-content: space-around;
		
		@include breakpoint (medium down){
			width: 100vw;
			position: relative;
			flex-direction: column;
			margin:0;
			height: auto; 
			padding: 1em;
		}
	}
}
.tabs__title{
	margin:.5em 0;
	color:$blue;
}